<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Password Reset Request</title>
</head>
<body>
    <p>Hello,</p>

    <p>We received a request to reset your password. If you did not request a password reset, please ignore this email.</p>

    <p>To reset your password, please click the following link:</p>
    
    <p><a href="{{ app_path }}{{path('resetLink',{ 'token':token})}}">Reset Password</a></p>

    <p>This link will expire in 24 hours. If you do not reset your password within this time, you will need to request a new password reset.</p>

    <p>Thank you!</p>
    <p>The {{ 'site_name'|default('Symfony App') }} Team</p>
</body>
</html>
