{% extends 'base.html.twig' %}

{% block style %}{% endblock %}


{% block body %}
	<!-- Section: Design Block -->
	<section class="p-4 text-center text-lg-start"/>

	<div class="card mb-3">
		<div class="row g-0 d-flex align-items-center">
			<div class="col-lg-4 d-none d-lg-flex">
				<img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes" class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"/>
			</div>
			<div class="col-lg-8">
				<div class="card-body py-5 px-md-5">
					

					<form
						action="{{path('resetSave')}}" method="post">
						<!-- Email input -->
						<div data-mdb-input-init class="form-outline mb-4">
							<input type="email" id="email" class="form-control" name="email" value="{{email}}"readonly/>
							<label class="form-label" for="username">Email address</label>
						</div>

						<!-- Password input -->
						<div data-mdb-input-init class="form-outline mb-4">
							<input type="password" id="form2Example2" class="form-control" name="password"/>
							<label class="form-label" for="form2Example2">Password</label>
						</div>
                        <div data-mdb-input-init class="form-outline mb-4">
							<input type="password" id="confirm_password" class="form-control" name="confirm_password"/>
							<label class="form-label" for="confirm_password">renetr Password</label>
						</div>

						<!-- 2 column grid layout for inline styling -->
						

						<!-- Submit button -->
						<button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">log in</button>

					</form>

				</div>
			</div>
		</div>
	</div>
</section>

{% for type, messages in app.flashes %}
	{% for message in messages %}
		<div class="alert alert-{{ type }}">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}
<!-- Section: Design Block -->{% endblock %}
